name: Tests

on: [ push ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11.4"
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: |
            eval `ssh-agent -s`
            ssh-add - <<< '${{ secrets.SHIMMER_DEPLOY }}'
            poetry install --with test
            poetry run python -m pip install --upgrade pip
            poetry run pip install torch==2.0.1+cpu --index-url https://download.pytorch.org/whl/cpu
      - name: Test with pytest
        run: |
          poetry run pytest tests/
